{% extends 'base.html.twig' %}
{% block body %}
    <div style="background: white">
        <h1> WSZYSTKIE STACJE</h1>
        <ul>
            {% for stop in stops %}
                <li>Przyj. {{stop.arrivalTime.format("H:i")}}, Odj. {{stop.departureTime.format("H:i")}} |
                    {{stop.station.shortName}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}