{% extends 'base.html.twig' %}
{% set button_cfg = {
    'link': path('gui__menu'),
    'icon_a': 'fas fa-chevron-left',
    'text': 'Powrót do menu',
    'icon_b': 'fas fa-th'
} %}

{% block title %}Route list{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="box-container">
            {% include 'common/header.html.twig' %}
            <main class="box-element">
                <h1>Rozkłady służbowe</h1>
                <div class="simple-list">
                    {% for route in routes if routes %}
                        <a href="{{path('gui__route_details',{'kbs': route.kbs})}}" class="simple-list__element">
                            <span class="simple-list__text-container">
                                <span class="simple-list__text">{{route.name}}</span>
                                <small class="simple-list__subtext">{{route.stationsName}}</small>
                            </span>
                            <span class="simple-list__arrow fas fa-chevron-right"></span>
                        </a>
                    {% else %}
                        <div>No options choose</div>
                    {% endfor %}
                </div>
                <div class="pagination">
                    <a href="" class="pagination__arrow fas fa-caret-left"></a>
                    <div class="pagination__counter">
                        <a href="" class="pagination__page pagination__page--active">1</a>
                        <a href class="pagination__page">2</a>
                        <a href="" class="pagination__page">3</a>
                    </div>
                    <a href="" class="pagination__arrow fas fa-caret-right" disabled></a>
                </div>
            </main>
            <section class="box-element">
                {% include 'common/back-button.html.twig' with button_cfg only %}
            </section>
            {% include 'common/footer.html.twig' %}
        </div>
    </div>
{% endblock %}