{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="box-container">
            {% include 'common/header.html.twig' %}
            <main class="box-element">
                <h1>Panel title</h1>
            </main>
            {% include 'common/footer.html.twig' %}
        </div>
    </div>
{% endblock %}