{% extends 'base.html.twig' %}
{% block title %}Route list{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="box-container">
            {% include 'common/header.html.twig' %}
            <main class="box-element">
                <h1>Track details</h1>
            </main>
            {% include 'common/footer.html.twig' %}
        </div>
        <div class="box-container">
            <aside class="box-element">
                <h2>Track objects</h2>
            </aside>
        </div>
    </div>
{% endblock %}