{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'common/header.html.twig' %}
        <main class="box">
        </main>
        {% include 'common/footer.html.twig' %}
    </div>
{% endblock %}