{% extends 'admin.html.twig' %}
{% block admin_body %}
    <div class="admin-index">
        <div class="admin-index__logo">
            <div class="admin-index__icons">
                <span class="admin-index__icon">#</span>
                <span class="admin-index__icon">#</span>
                <span class="admin-index__icon">#</span>
                <span class="admin-index__icon">#</span>
                <span class="admin-index__icon">#</span>
                <span class="admin-index__icon">#</span>
            </div>
            <span class="admin-index__project-name"><span class="admin-index__company">DigitaleSchiene</span>
        Deutschland</span>
        </div>
    </div>
{% endblock %}