.track-object-list
  width: 90%
  margin: 0 auto

  &__row
    margin: 5px
    padding: 5px
    width: 100%

  &__cell
    &--kilometer
      font-weight: bold
      max-width: 10%

    &--text
      padding: 10px
      display: block
