.navigation
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  background: #FFFFFF
  height: 70px
  width: 100%
  @include shadow(1)
  z-index: 0
  padding: 0 10px

  &__logos
    height: 100%
    display: flex
    flex-direction: row
    align-items: center
    margin: 0 40px

  &__project-logo
    display: flex
    flex-direction: column
    justify-content: center

  &__icons
    display: flex
    justify-content: center
    font-family: 'Deutsche Bahn Title Font', sans-serif
    font-size: 28px
    font-weight: bold
    letter-spacing: -7px

  &__icon
    &:nth-of-type(1)
      color: #D7216B

    &:nth-of-type(2)
      color: #CE0055

    &:nth-of-type(3)
      color: #51115F

    &:nth-of-type(4)
      color: #955995

    &:nth-of-type(5)
      color: #A0EAF7

    &:nth-of-type(6)
      color: #34CFFF

  &__project-name
    display: flex
    justify-content: center
    margin-top: -7px
    font-family: "Roboto", sans-serif
    font-size: 18px

  &__company
    font-weight: bold

  &__panel-title
    display: block
    padding: 5px
    margin-left: 50px

  &__user
    height: 100%
    display: flex
    flex-direction: row
    align-items: center
    margin-right: 100px

  &__user-picture
    clip-path: circle(50% at 50% 50%)
    object-fit: cover
    height: 50px
    width: 50px
    display: block
    margin: 10px

  &__user-name
    color: #3b4151
    display: block
    height: auto
