<footer class="box-element box-element footer">
    <div class="footer__icons">
        <span class="footer__icon">#</span>
        <span class="footer__icon">#</span>
        <span class="footer__icon">#</span>
        <span class="footer__icon">#</span>
        <span class="footer__icon">#</span>
        <span class="footer__icon">#</span>
    </div>
    <span class="footer__project-name"><span class="footer__company">Digitale Schiene</span>
        Deutschland</span>
</footer>