<footer class="box box--footer">
    <div class="box--footer__icons">
        <span class="box--footer__icon">#</span>
        <span class="box--footer__icon">#</span>
        <span class="box--footer__icon">#</span>
        <span class="box--footer__icon">#</span>
        <span class="box--footer__icon">#</span>
        <span class="box--footer__icon">#</span>
    </div>
    <span class="box--footer__project-name"><span class="box--footer__company">Digitale Schiene</span>
        Deutschland</span>
</footer>