<header class="box-element header">
    <img class="header__logo"
         src="{{asset('images/logos/db-logo.png')}}"
         title="Deutsche Bahn Digitale Schiene"
         alt="Deutsche Bahn logo">
    <h1 class="header__title">Netze</h1>
</header>