<header class="box box--header">
    <img class="box--header__logo"
         src="{{asset('images/logos/db-logo.png')}}"
         title="Deutsche Bahn Digitale Schiene"
         alt="Deutsche Bahn logo">
    <h1 class="box--header__title">Netze</h1>
</header>