<div class="navigation">
    <span class="navigation__panel-title">{% block nav_title %}Panel administracyjny{% endblock %}</span>
    <div class="navigation__user">
        <img class="navigation__user-picture" src="{{asset('images/backgrounds/8.jpg')}}" alt="">
        <span class="navigation__user-name">Name1 Surname1</span>
        <a href="" class="navigation__logoff"><span class="fas fa-sign-out-alt fa-fw"></span> Wyloguj</a>
    </div>
</div>