<div class="navigation">
    <div class="navigation__logos">
        <div class="navigation__project-logo">
            <div class="navigation__icons">
                <span class="footer__icon">#</span>
                <span class="footer__icon">#</span>
                <span class="footer__icon">#</span>
                <span class="footer__icon">#</span>
                <span class="footer__icon">#</span>
                <span class="footer__icon">#</span>
            </div>
            <span class="navigation__project-name"><span class="navigation__company">Digitale Schiene</span>
        Deutschland</span>
        </div>
        <span class="navigation__panel-title">Panel administracyjny</span>
    </div>
    <div class="navigation__user">
        <img class="navigation__user-picture" src="{{asset('images/backgrounds/8.jpg')}}" alt="">
        <span class="navigation__user-name">Name1 Surname1</span>
        <a href="" class="navigation__logoff"><span class="fas fa-sign-out-alt fa-fw"></span> Wyloguj</a>
    </div>
</div>