<div class="side-panel">
    <div class="side-panel__top">
        <a href="{{path('gui__admin')}}" class="side-panel__logo">
            <img src="{{asset('images/logos/db-logo.png')}}" class="side-panel__image" alt="Application logo"/>
            <span class="side-panel__text">Netze</span>
        </a>
        <ul class="side-panel__menu">
            <li class="side-panel__element">
                <a href="">
                    <span class="fas fa-map-marked-alt fa-fw side-panel__menu-icon"></span>
                    <span class="side-panel__menu-text">Rozkłady jazdy</span>
                </a>
            </li>
            <li class="side-panel__element">
                <a href="{{path('gui__admin_carrier_all')}}">
                    <span class="fas fa-shuttle-van fa-fw side-panel__menu-icon"></span>
                    <span class="side-panel__menu-text">Przewoźnicy</span>
                </a>
            </li>
            <li class="side-panel__element">
                <a href="">
                    <span class="fas fa-users fa-fw side-panel__menu-icon"></span>
                    <span class="side-panel__menu-text">Użytkownicy</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="side-panel__project-logo">
        <div class="side-panel__icons">
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
        </div>
        <span class="side-panel__project-name"><span class="side-panel__company">DigitaleSchiene</span>
        Deutschland</span>
    </div>
</div>