<div class="side-panel">
    <div class="side-panel__logo">
        <img src="{{asset('images/logos/db-logo.png')}}" class="side-panel__image" alt="Application logo"/>
        <span class="side-panel__text">Netze</span>
    </div>
    <ul class="side-panel__menu">
        <li class="side-panel__element">
            <a href="">
                <span class="far fa-clock side-panel__icon"></span>
                <span class="side-panel__menu-text">Rozkłady jazdy</span>
            </a>
        </li>
        <li class="side-panel__element">
            <a href="">
                <span class="far fa-clock side-panel__icon"></span>
                <span class="side-panel__menu-text">Przewoźnicy</span>
            </a>
        </li>
        <li class="side-panel__element">
            <a href="">
                <span class="far fa-clock side-panel__icon"></span>
                <span class="side-panel__menu-text">Użytkownicy</span>
            </a>
        </li>
    </ul>
</div>