<div class="side-panel">
    <div class="side-panel__top">
        <div class="side-panel__logo">
            <img src="{{asset('images/logos/db-logo.png')}}" class="side-panel__image" alt="Application logo"/>
            <span class="side-panel__text">Netze</span>
        </div>
        <ul class="side-panel__menu">
            <li class="side-panel__element">
                <a href="">
                    <span class="far fa-clock side-panel__icon"></span>
                    <span class="side-panel__menu-text">Rozkłady jazdy</span>
                </a>
            </li>
            <li class="side-panel__element">
                <a href="">
                    <span class="far fa-clock side-panel__icon"></span>
                    <span class="side-panel__menu-text">Przewoźnicy</span>
                </a>
            </li>
            <li class="side-panel__element">
                <a href="">
                    <span class="far fa-clock side-panel__icon"></span>
                    <span class="side-panel__menu-text">Użytkownicy</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="side-panel__project-logo">
        <div class="side-panel__icons">
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
            <span class="side-panel__icon">#</span>
        </div>
        <span class="side-panel__project-name"><span class="side-panel__company">Digitale Schiene</span>
        Deutschland</span>
    </div>
</div>