{% trans_default_domain 'admin' %}
{% extends 'base.html.twig' %}

{% block title %}{{'admin.page-title'|trans}}{% endblock %}
{% block body %}
    <div class="admin-wrapper">
        {% include 'common/side-panel.html.twig' %}
        <div class="admin-content">
            {% include 'common/navigation.html.twig' %}
            <div class="admin-container">
                {% block admin_body %}
                    <h1 class="admin__title">Tytuł ekranu</h1>
                {% endblock %}
                <span class="admin-app-title">DigitaleSchieneDeutschland | Deutsche Bahn AG &copy;2019</span>
            </div>
        </div>
    </div>
{% endblock %}