{% trans_default_domain 'admin' %}
{% extends 'base.html.twig' %}

{% block title %}{{'admin.page-title'|trans}}{% endblock %}
{% block body %}
    <div class="admin-wrapper">
        <div class="side-panel">
            <img src="{{asset('images/logos/db-logo.png')}}" class="side-panel__logo" alt="Application logo"/>
        </div>
        <div class="admin-content">
            <div class="navigation">
                Nawigacja
            </div>
        </div>
    </div>
{% endblock %}