{% extends 'base.html.twig' %}

{% block body %}
    <div class="box-container">
        {% include 'common/header.html.twig' %}
        <main class="box-element">
            <h1>Menu główne</h1>
        </main>
        {% include 'common/footer.html.twig' %}
    </div>

{% endblock %}