{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{encore_entry_link_tags('pdf')}}
{% endblock %}
{% block body %}
    <div class="pdf">
        <div class="heading">
            DB AG
        </div>
    </div>

{% endblock %}